@use "sass:map";

$css-var-prefix: --forma-;
$color-contrast: #{$css-var-prefix}color-contrast;
$button-color: #{$css-var-prefix}button-color;
$icon: #{$css-var-prefix}icon;

$font-family: var(#{$css-var-prefix}font-family);
$font-family-headings: var(#{$css-var-prefix}font-family-headings);
$font-weight: var(#{$css-var-prefix}font-weight);
$line-height: var(#{$css-var-prefix}line-height);

$color-primary: var(#{$css-var-prefix}color-primary);
$color-secondary: var(#{$css-var-prefix}color-secondary);
$color-text: var(#{$css-var-prefix}color-text);
$color-background: var(#{$css-var-prefix}color-background);
$color-backdrop: var(#{$css-var-prefix}color-backdrop);
$color-panel: var(#{$css-var-prefix}color-panel);
$color-border-panel: var(#{$css-var-prefix}color-border-panel);
$color-gray-highlight: var(#{$css-var-prefix}color-gray-highlight);

$font-size: var(#{$css-var-prefix}font-size);
$gutter: var(#{$css-var-prefix}gutter);
$transition-slow: var(#{$css-var-prefix}transition-slow);
$transition-fast: var(#{$css-var-prefix}transition-fast);
$border-radius-panel: var(#{$css-var-prefix}border-radius-panel);
$border-radius-button: var(#{$css-var-prefix}border-radius-button);

$filter-backdrop: var(#{$css-var-prefix}filter-backdrop);
$filter-panel: var(#{$css-var-prefix}filter-panel);

$elevation-1: var(#{$css-var-prefix}elevation-1);
$elevation-2: var(#{$css-var-prefix}elevation-2);
$elevation-3: var(#{$css-var-prefix}elevation-3);

$icon-search: var(#{$css-var-prefix}icon-search);
$icon-date: var(#{$css-var-prefix}icon-date);
$icon-time: var(#{$css-var-prefix}icon-time);
$icon-expand: var(#{$css-var-prefix}icon-expand);
$icon-check: var(#{$css-var-prefix}icon-check);

$breakpoints: (
  sm: (
    breakpoint: 600px,
    viewport: 540px,
    root-font-size: 85%,
  ),
  md: (
    breakpoint: 768px,
    viewport: 720px,
    root-font-size: 95%,
  ),
  lg: (
    breakpoint: 1024px,
    viewport: 960px,
    root-font-size: 100%,
  ),
  xl: (
    breakpoint: 1450px,
    viewport: 1200px,
    root-font-size: 105%,
  ),
  xxl: (
    breakpoint: 1536px,
    viewport: 1400px,
    root-font-size: 115%,
  ),
);

$spaces: 0, 0.5, 1, 2, 4, 6, 8;
$spacing-name: (
  mt: margin-top,
  mb: margin-bottom,
  ml: margin-left,
  mr: margin-right,
  pt: padding-top,
  pb: padding-bottom,
  pl: padding-left,
  pr: padding-right,
  m: margin,
  p: padding,
);
$text-sizes: (
  "h1, .heading-1": (
    size: 7rem,
    line-height: 90%,
    letter-spacing: -4%,
    margin: 0.5em 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  "h2, .heading-2": (
    size: 5rem,
    line-height: 90%,
    letter-spacing: -4%,
    margin: 0.5em 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  "h3, .heading-3": (
    size: 4rem,
    line-height: 100%,
    letter-spacing: -4%,
    margin: 1rem 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  "h4, .heading-4": (
    size: 3rem,
    line-height: 100%,
    letter-spacing: -4%,
    margin: 0.5rem 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  "h5, .heading-5": (
    size: 2rem,
    line-height: 100%,
    margin: 0.5rem 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  "h6, .heading-6": (
    size: 1.5rem,
    line-height: 100%,
    margin: 0.25rem 0,
    font-family: $font-family-headings,
    font-weight: bold,
  ),
  p: (
    size: 1rem,
    line-height: 130%,
    margin: 0.5em 0,
  ),
  "p.smaller, small": (
    size: 0.75em,
  ),
  "p.lead": (
    size: 1.5em,
  ),
  "hr": (
    margin: 1rem 0,
  ),
);
