@use "sass:map";
@use "../config" as *;

@mixin media($breakpoint-key, $direction: up) {
  $bp: map.get($breakpoints, $breakpoint-key, breakpoint);

  @if $bp {
    @if $direction == up {
      @media (min-width: $bp) {
        @content;
      }
    } @else if $direction == down {
      // Restem 0.02px per evitar solapaments exactes amb el min-width
      @media (max-width: ($bp - 0.02px)) {
        @content;
      }
    } @else {
      @warn "Direcció desconeguda '#{$direction}'. Utilitza 'up' o 'down'.";
    }
  } @else {
    @warn "El breakpoint '#{$breakpoint-key}' no existeix.";
  }
}

@mixin panel-elevation-2 {
  background-color: $color-panel;
  backdrop-filter: $filter-panel;
  border: 1px solid $color-border-panel;
  box-shadow: $elevation-2;
}
@mixin panel-elevation-3 {
  background-color: $color-panel;
  backdrop-filter: $filter-panel;
  border: 1px solid $color-border-panel;
  box-shadow: $elevation-3;
}

@mixin initialize-fading {
  opacity: 0;
  transition:
    opacity $transition-fast ease-in-out,
    content-visibility $transition-fast allow-discrete;
  &:popover-open,
  &:popover-open::backdrop {
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
}
