@use "sass:map";
@use "../config" as *;
@use "../mixins/mixins" as m;

@if map.get($modules, "layout/helpers") {
  .flex-row {
    display: flex;
    flex-direction: row;
    gap: calc($gutter * 0.5);
    flex-wrap: wrap;
  }

  .flex-full {
    justify-content: space-between;
  }
}
