@use "sass:map";
@use "../config" as *;
@use "../content/typography";

@if map.get($modules, "components/accordion") {
  @layer forma.components {
    .accordion {
      details::details-content {
        height: 0;
        overflow: clip;
        transition-property: block-size, content-visibility;
        transition-duration: $transition-slow;
        transition-behavior: allow-discrete;
      }
      details[open]::details-content {
        height: auto;
      }
      summary span {
        display: block;
        width: 1rem;
        height: 1px;
        background: $color-text;
        position: relative;
        transition: transform $transition-slow ease-in-out;
        &::before {
          content: "";
          display: block;
          width: 1rem;
          height: 1px;
          background: $color-text;
          transform: rotate(90deg);
        }
      }

      details[open] {
        summary span {
          transform: rotate(405deg);
        }
      }
    }
  }
}
