@use "../config" as *;
@use "../mixins/mixins" as m;

@use "sass:map";
@use "../config" as *;

@if map.get($modules, "components/card") {
  @layer forma.components {
    :is(article, .card) {
      --card-padding: #{$gutter};
      padding: var(--card-padding);
      border-radius: $border-radius-panel;
      overflow: hidden;
      @include m.panel-elevation-1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > * {
        width: 100%;
      }
      div > *:first-child {
        margin-top: 0;
      }
      .btn-contrast {
        #{$color-contrast}: contrast-color($color-panel);
      }
      > footer,
      > header {
        display: flex;
        flex-direction: row;
        gap: calc(var(--card-padding) * 0.5);
        flex-wrap: wrap;
      }
      figure {
        margin: calc(var(--card-padding) * -1) calc(var(--card-padding) * -1) 0;
        width: calc(100% + (var(--card-padding) * 2));
        img {
          @include m.panel-elevation-1;
          border-radius: $border-radius-button;
          border: none;
        }
      }
      &.card-horizontal {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr auto;
        gap: var(--card-padding);
        position: relative;
        figure {
          margin: calc(var(--card-padding) * -1) 0
            calc(var(--card-padding) * -1) calc(var(--card-padding) * -1);
          grid-row: 1 / 3;
          grid-column: 1;
          position: relative;
          height: calc(100% + var(--card-padding) * 2);
          width: calc(100% + var(--card-padding));
          img {
            position: relative;
            height: stretch;
            object-fit: cover;
          }
        }
      }
    }
  }
}
