@use "../config" as *;
@use "../mixins/mixins" as m;
@use "sass:map";

@if map.get($modules, "components/modal") {
  @layer forma.components {
    .modal-window {
      padding: $gutter;
      border-radius: $border-radius-panel;
      transition: opacity $transition-slow ease-in-out;
      z-index: 9999;
      @include m.panel-elevation-3;
      @include m.initialize-fading;
      &::backdrop {
        background: $color-backdrop;
        backdrop-filter: $filter-backdrop;
        transition: opacity $transition-slow ease-in-out;
        @include m.initialize-fading;
      }
      .btn-contrast {
        #{$color-contrast}: contrast-color($color-panel);
      }
    }
  }
}
