@use "../config" as *;
@use "../mixins/mixins" as m;
@use "sass:map";
@use "toast";

@if map.get($modules, "components/off-canvas") {
  .off-canvas {
    @extend .toast;
    z-index: 3333;
    padding: calc($gutter * 1.5);
    border-radius: 0;
    top: 0;
    right: 0;
    height: 100dvh;
  }
}
