@use "../config" as *;

$color-primary-hover: hsl(from $color-primary h s calc(l * 0.8));
$color-secondary-hover: hsl(from $color-secondary h s calc(l * 0.8));
$color-primary-active: hsl(from $color-primary h s calc(l * 0.6));
$color-secondary-active: hsl(from $color-secondary h s calc(l * 0.6));

.btn {
  cursor: hand;
  font-size: $font-size;
  line-height: $font-size;
  font-family: $font-family-headings;
  font-weight: normal;
  padding: calc($gutter * 0.5) calc($gutter * 0.75);
  border-radius: $border-radius-button;
  border: 1px solid $color-primary;
  background: $color-primary;
  color: contrast-color($color-primary);
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: calc($gutter * 0.5);
  justify-content: space-between;
  margin-bottom: calc($gutter * 0.5);
  &:hover {
    background: $color-primary-hover;
    color: contrast-color($color-primary-hover);
    border-color: $color-primary-hover;
  }
  &:active {
    background: $color-primary-active;
    border-color: $color-primary-active;
  }
  &:focus {
    outline: 0;
  }
  transition:
    background $transition-fast ease-in-out,
    color $transition-fast ease-in-out;

  &.btn-outline {
    background: transparent;
    color: $color-primary;
    &:hover {
      background: $color-primary-hover;
      border-color: $color-primary-hover;
      color: contrast-color($color-primary-hover);
    }
    &:active {
      background: $color-primary-active;
      border-color: $color-primary-active;
    }
  }

  &.btn-secondary {
    background: $color-secondary;
    border-color: $color-secondary;
    color: contrast-color($color-secondary);
    &:hover {
      background: $color-secondary-hover;
      border-color: $color-secondary-hover;
      color: contrast-color($color-secondary-hover);
    }
    &:active {
      background: $color-secondary-active;
      border-color: $color-secondary-active;
    }
  }

  &.btn-outline-secondary {
    background: transparent;
    color: $color-secondary;
    border-color: $color-secondary;
    &:hover {
      background: $color-secondary-hover;
      border-color: $color-secondary-hover;
      color: contrast-color($color-secondary-hover);
    }
    &:active {
      background: $color-secondary-active;
      border-color: $color-secondary-active;
    }
  }

  &.btn-contrast {
    #{$color-contrast}: contrast-color($color-background);
    background: var($color-contrast);
    border-color: var($color-contrast);
    color: contrast-color(var($color-contrast));
    &:hover,
    &:active {
      background: var($color-contrast);
      border-color: var($color-contrast);
      color: contrast-color(var($color-contrast));
    }
  }

  &.btn-outline-contrast {
    #{$color-contrast}: contrast-color($color-background);
    background: transparent;
    color: var($color-contrast);
    border-color: var($color-contrast);
    &:hover,
    &:active {
      background: var($color-contrast);
      border-color: var($color-contrast);
      color: contrast-color(var($color-contrast));
    }
  }

  &.btn-round {
    border-radius: 50%;
    padding: calc($gutter * 0.5);
  }
  &.btn-sm {
    font-size: calc($font-size * 0.75);
    padding: calc($gutter * 0.35) calc($gutter * 0.75);
    gap: calc($gutter * 0.4);
    svg,
    i {
      height: calc($font-size * 0.75);
      width: auto;
    }
    &.btn-round {
      padding: calc($gutter * 0.4);
    }
  }

  &.btn-lg {
    font-size: calc($font-size * 1.25);
    padding: calc($gutter * 0.75) calc($gutter * 1.25);
    gap: calc($gutter * 0.75);
    svg,
    i {
      height: calc($font-size * 1.25);
      width: auto;
    }
    &.btn-round {
      padding: calc($gutter * 0.75);
    }
  }
}

a {
  color: $color-primary;
  text-decoration: none;
  font-weight: bold;
  transition: all $transition-fast ease-in-out;
  &:hover {
    color: $color-primary-hover;
  }
}

.btn-group {
  display: flex;
  gap: 1px;
  .btn {
    border-radius: 0;
    margin-bottom: 0;
  }
  .btn:first-child:not(summary),
  .dropdown:first-child summary {
    border-radius: $border-radius-button 0 0 $border-radius-button;
  }
  .btn:last-child:not(summary),
  .dropdown:last-child summary {
    border-radius: 0 $border-radius-button $border-radius-button 0;
  }
}
.btn-group-vertical {
  display: flex;
  flex-direction: column;
  gap: 1px;
  .btn {
    margin-bottom: 0;
  }
  .btn,
  .dropdown {
    border-radius: 0;
    width: 100%;
  }
  .btn:first-child:not(summary),
  .dropdown:first-child summary {
    border-radius: $border-radius-button $border-radius-button 0 0;
  }
  .btn:last-child:not(summary),
  .dropdown:last-child summary {
    border-radius: 0 0 $border-radius-button $border-radius-button;
  }
}
