@use "../config" as *;
@use "mixins" as m;

article {
  padding: calc($gutter * 0.5);
  border-radius: $border-radius-panel;
  @include m.panel-elevation-2;
  backdrop-filter: none;
  box-shadow: $elevation-1;
  .btn.btn-contrast {
    #{$color-contrast}: contrast-color($color-panel);
  }
}
