@use "sass:map";
@use "../config" as *;
@use "mixins" as m;

@include m.media(md, down) {
  :root {
    //font-size: map.get($breakpoints, sm, root-font-size);
  }
  :is(header, main, footer) {
    &:not(.fluid) {
      margin: 0 calc($gutter * 0.5);
    }
  }
}
@include m.media(md, up) {
  :root {
    margin: 0 auto;
    //font-size: map.get($breakpoints, md, root-font-size);
  }
  :is(header, main, footer) {
    &:not(.fluid) {
      margin: 0 auto;
      max-width: map.get($breakpoints, md, viewport);
    }
  }
}
@include m.media(lg, up) {
  :root {
    //font-size: map.get($breakpoints, lg, root-font-size);
  }
  :is(header, main, footer) {
    &:not(.fluid) {
      max-width: map.get($breakpoints, lg, viewport);
    }
  }
}
@include m.media(xl, up) {
  :root {
    //font-size: map.get($breakpoints, xl, root-font-size);
  }
  :is(header, main, footer) {
    &:not(.fluid) {
      max-width: map.get($breakpoints, xl, viewport);
    }
  }
}
@include m.media(xxl, up) {
  :root {
    //font-size: map.get($breakpoints, xxl, root-font-size);
  }
  :is(header, main, footer) {
    &:not(.fluid) {
      max-width: map.get($breakpoints, xxl, viewport);
    }
  }
}

:is(header, main, footer) {
  &.fluid {
    margin: 0;
    padding: 0 calc($gutter * 0.5);
  }
}

hr {
  border: none;
  border-top: 1px solid $color-text;
  width: 100%;
}
section {
  //display: flex;
  //flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  gap: calc($gutter * 0.5);
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.flex-full {
  justify-content: space-between;
}

@each $selector, $props in $text-sizes {
  #{$selector} {
    @if map.get($props, size) {
      font-size: map.get($props, size);
    }
    @if map.get($props, line-height) {
      line-height: map.get($props, line-height);
    }
    @if map.get($props, letter-spacing) {
      letter-spacing: map.get($props, letter-spacing);
    }
    @if map.get($props, margin) {
      margin: map.get($props, margin);
    }
    @if map.get($props, font-family) {
      font-family: map.get($props, font-family);
    }
    @if map.get($props, font-weight) {
      font-weight: map.get($props, font-weight);
    }
  }
}

$e: 0;
@each $space in $spaces {
  @each $name, $value in $spacing-name {
    .#{$name}-#{$e} {
      @if #{$space} == "0" {
        #{$value}: 0 !important;
      } @else {
        #{$value}: calc($gutter * #{$space}) !important;
      }
    }
  }
  $e: $e + 1;
}
