@use "../config" as *;
@use "mixins" as m;

.modal-window {
  padding: $gutter;
  border-radius: $border-radius-panel;
  @include m.panel-elevation-3;
  @include m.initialize-fading;
  transition: opacity $transition-slow ease-in-out;
  &::backdrop {
    background: $color-backdrop;
    backdrop-filter: $filter-backdrop;
    @include m.initialize-fading;
    transition: opacity $transition-slow ease-in-out;
  }
}
