@use "../config" as *;
@use "mixins" as m;
@use "buttons";

.nav-item {
  color: var(#{$css-var-prefix}color-text);
  font-size: calc(var(#{$css-var-prefix}font-size) * 1.25);
  font-weight: normal;
}
