@use "../config" as *;
@use "mixins" as m;

.toast {
  position: fixed;
  color: $color-text;
  top: $gutter;
  right: $gutter;
  left: auto;
  margin: 0;
  padding: $gutter;
  border-radius: $border-radius-panel;
  width: 30vw;
  z-index: 9999;
  @include m.panel-elevation-3;
  @include m.initialize-fading;

  @include m.media(xxl, down) {
    width: 40vw;
  }
  @include m.media(lg, down) {
    width: 60vw;
  }
  @include m.media(md, down) {
    width: 80vw;
  }
}
