@use "../config" as *;
@use "mixins" as m;

[data-text] {
  position: relative;
  &::after {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: $font-family-headings;
    background-color: $color-text;
    color: contrast-color($color-text);
    padding: 0.5rem;
    border-radius: calc($border-radius-button * 0.5);
    font-size: 0.8rem;
    font-weight: normal;
    white-space: normal;
    max-width: 12rem;
    width: max-content;
    overflow-wrap: break-word;
    line-height: 120%;
    z-index: 10;
    box-shadow: $elevation-1;

    opacity: 0;
    visibility: hidden;
    transition: all $transition-fast ease-in-out;
    pointer-events: none;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: calc(100% - 0.55rem);
    left: 50%;
    transform: translate(-50%, 0);

    border: 6px solid transparent;
    border-top-color: $color-text;

    opacity: 0;
    visibility: hidden;
    transition: all $transition-fast ease-in-out;
    pointer-events: none;
  }
  &:hover,
  &:focus {
    &::after {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -0.35rem);
    }
    &::before {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -0.35rem);
    }
  }
}
