@use "sass:map";
@use "../config" as *;

@if map.get($modules, "forms/radio-checkbox") {
  @layer forma.components {
    input {
      &[type="checkbox"]:not([role="switch"]) {
        padding: 0;
        width: calc(1rem * 1.25);
        height: calc(1rem * 1.25);
        border: 2px solid $color-gray-highlight;
        border-radius: calc($border-radius-button * 0.5);
        &:checked {
          background-color: $color-primary;
          border-color: $color-primary;
          background-image: $icon-check;
          background-size: 1rem auto;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
      &[type="radio"] {
        padding: 0;
        width: calc(1rem * 1.25);
        height: calc(1rem * 1.25);
        border: 2px solid $color-gray-highlight;
        border-radius: 50%;
        &:checked {
          outline: calc(1rem * 0.35) solid $color-primary;
          outline-offset: calc(1rem * -0.35);
        }
      }
    }
  }
}
