@use "sass:map";
@use "../config" as *;

@if map.get($modules, "forms/switch") {
  input {
    &[role="switch"] {
      padding: 0;
      width: calc(1rem * 2.6);
      height: calc(1rem * 1.4);
      border-radius: 50px;
      background-color: $color-gray-highlight;
      position: relative;
      border: none;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        width: calc(1rem * 1.4);
        height: calc(1rem * 1.4);
        border-radius: 50%;
        background-color: contrast-color($color-primary);
        transition: all $transition-fast ease-in-out;
        border: 3px solid $color-gray-highlight;
      }
      &:checked {
        background-color: $color-primary;
        &::after {
          transform: translateX(calc(1rem * 1.3));
          border-color: $color-primary;
        }
      }
    }
  }
}
